[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mcstatus = "*"
"discord.py" = "*"
python-dotenv = "*"
wheel = "*"
numpy = "==1.18.0"
nbtlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
